<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Início</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>
  <div style="display: flex; flex-direction: column; align-items: center;">
    <ion-avatar style="margin: auto; width: 150px; height: 150px;">
      <img src="../../assets/img/perfil" alt="Foto do Ralf" />
    </ion-avatar>

    <h2 style="text-align: center;">Ralf da Silva</h2>

    <div style="max-width: 400px; text-align: justify; margin-top: 16px;">
      <p><strong>Email:</strong> ralfsilvapf&#64;gmail.com</p>
      <p><strong>Telefone:</strong> (54) 99200-37853</p>
      <p><strong>LinkedIn:  </strong>
        <a href="https://www.linkedin.com/in/ralfsilvapf/" target="_blank">Ralf Silva</a>
      </p>
    </div>
  </div>
</ion-content>
